.CountryInformation {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .CountryInformation td,
  .CountryInformation th {
    border: 1px solid var(--gray-light);
    padding: 8px;
  }
  
  .CountryInformation td {
    color: var(--text);
    font-size: 1rem;
  }
  
  .CountryInformation tr:hover {
    background-color: var(--gray-dark);
  }
  
  .CountryInformation th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: var(--blue-light);
    color: var(--white);
  }
  